/*

Fonts:

font-family: 'Bungee', cursive;
font-family: 'Montserrat', sans-serif;

------

Color Scheme:

Shape: #1D9CF2
Wood: #FFAC1F
Hardware: #794BC3
Finish: #F45A22
Success: #17BF60

*/

/*
.alertCtn {
    display: block;
    position: relative;
}

.alertTop {
    position: absolute;
    top: -100px;
    z-index: 5000;
    opacity: .9;
    width: auto;
}
*/

.optPinKey {
    max-width: 20px;
    
}

.pinCtn{
    position: relative;
    top: 6px;
}

.optPin {
    max-width: 20px;
    position: absolute;
    left: -28px;
}

.groupBarH {
    font-size: 22px;
}

.optBarH {
    font-size: .9em;
}

.groupBars {
    padding-left: 18px;
    padding-top: 20px;
}

.optionBars {
    padding-left: 32px;
}


.nb-btn {
    background-color: #3A494E;
    color: #FFF;
}

.nb-btn:hover {
    background-color: #0095C6;
    color: #FFF;
}

.optWhite {
    background-color: #FFF;
}

.optback1{
    background-image: url(app_img/fractal_back-min.jpg);
}

.optback2{
    background-image: url(app_img/lightback-min.jpg);
}

.optback3 {
    background-color: #4F4D4F;
}

.optTopContent {
    border-top: solid 4px #03BF55;
    /*border-bottom: solid 4px #03BF55;*/
}

.priority{
    background-color: #EDEDED;
    display: inline-block;
    padding: 4px 8px 6px;
    border-radius: 4px;
    position: relative;
}

.warnTxt {
    color: #FFC107;
    font-size: 1.2em;
    position: relative;
    top: 2px;
}

.warnTxtInner {
    color: #AD5E03;
}

#svgSun {
    max-width: 1000px;
    display: block;
    margin: 0 auto 26px;
}

#svgSun div.observablehq svg {
    display: block;
    margin: 0 auto;
    text-align: center;
}

body {
    background-color: #EDEDED;
}

h1, h2, h3, h4, h5 ,h6 {
    font-family: 'Bungee', cursive;   
}

.card-title {
    font-family: 'Montserrat', sans-serif;
}

p, div, span {
    font-family: 'Montserrat', sans-serif;
}

.optLogo {
    max-width: 105px;
    display: inline-block;
}

.optLogoBg {
    max-width: 300px;
    position: relative;
    left: -14px;
    margin-bottom: 8px;
}

.nb-sm {
    max-width: 24px;
    position: relative;
    top: -4px;
}

.nb-link {
    text-decoration: none;
    color: #275261;
    opacity: .8;
    white-space: nowrap;
}

.nb-link:hover {
    text-decoration: none;
    color: #275261;
    opacity: 1;
}

.insightPara {
    font-size: 34px;
}

.topInsight {
    /*background-image: url(img/pixel_pattern_light_tile_05-min.jpg);*/
}

.darkFoot {
    /*background-image: url(img/grid_03-min.jpg);*/
    
}

.inFoot {
    background-color: #4F4D4F;
    /*background-color: rgba(79, 77, 79, 0.6);*/
    /*box-shadow: 0px 5px 20px #000 inset;*/
}

.mainCtn {
    margin-bottom: 80px;
}

.purplePill {
    background-color: #8F69CD;
}

.greenPill {
    background-color: #04BF55;
}

.optPill {
    margin-bottom: 36px;
}

.insightIco {
    max-width: 22px;
    margin-right: 4px;
    position: relative;
    top: -2px;
}

.insightLink {
    position: relative;
    top: 8px;
    margin-top: 8px;
    text-align: center;
    text-decoration: none;
    max-width: 200px;
    color: #000;
    opacity: .6;
}

.insightLink:hover {
    text-decoration: none;
    color: #000;
    opacity: 1;
}

.insightLinkCtn {
    height: 50px;
    text-align: center;
}

#downIco {
    display: block;
    margin: 0 auto;
    max-width: 20px;
    opacity: .5;
    position: relative;
}





.shootingStar {
    position: absolute;
    top: -60px;
    max-width: 60px;
    opacity: 1;
    z-index: 5;
}

.starAni {
    animation-name: rotatingStar;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: 2; 
    animation-fill-mode: forwards;
}


@keyframes rotatingStar{
  0% {
    transform: rotate(0eg);
    top: -60px;
    opacity: .8;
  }  
  100% {
    transform: rotate(360deg);
    top: 450px;
    opacity: 0;
  }
}

@keyframes fadeStarOut{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.slowTiltAni {
    animation-name: slowTilt;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: 2; 
    animation-fill-mode: forwards;
}

.slideUpAni {
    animation-name: slideUp;
    animation-duration: 6s;
    animation-delay: 2.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes slowTilt{
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-3deg);
  }  
  100% {
    transform: rotate(0deg);
  }
}

@keyframes slideUp{
  0% {
    transform: translateY(300px);
     opacity: 0;
  }

  20% {
    transform: translateY(300px);
     opacity: 0;
  }
  
  100% {
    transform: translateY(0px);
     opacity: 1;
  }
}



.contAni {
    top: 0px;
    position: relative;
    overflow: hidden;
    animation-name: slideInRight;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite; 
}

@keyframes slideInRight {
  0% {
    left: 7px;
  }
  90% {
    left: -2px;
  }
    
  100% {
    left: 7px;
  }
}

.downIconAni {
    animation-name: dropDown, fadeIn;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}

.downIconAniOff {
    animation: rotateArrow;
    animation-duration: 1s;
    transform: rotate(180deg);
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.priorityAni {
    animation-name: dropDown, fadeIn;
    /*animation-name: flash, dropDown;*/
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}

@keyframes rotateArrow {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(180deg);}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  50% {opacity: 100;}
  100% {opacity: 100;}
}

@keyframes flash {
  0% {opacity: 0;}
  33% {opacity: 100;}
  66% {opacity: 0;}
  100% {opacity: 100;}
}

@keyframes dropDown {
  0% {top: -30px;}
  85% {top: 0px;}
  92% {top: -3px;}
  100% {top: 0px;}
}

.fTouch {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    border-width: 5px;
    height: 60px;
    animation-name: colorChange;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes colorChange {
  0% {
    background: #33D458;
  }
  50% {
    background: #18662B;
  }
  100% {
    background: #33D458;
  }
}

.fTouch:hover {
    background-color: #28A645;
}

.icoWand {
    max-width: 32px;
    margin-right: 10px;
}

.wandTxt {
    position: relative;
    top: 2px;
    color: #fff;
}

#finBtnCtn {
    height: 0;
    position: relative;
}

.finBtnAni {
    animation-name: takeUpSpace, fadeDrop, dropIn;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.finBtnAniOff {
    animation-name: removeSpace, fadeUp;
    animation-duration: 1.6s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fadeAll {
    animation-name: fadeAllOut, removeSpace;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.alertIcoAni {
    animation-name: pulse;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  85% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}


@keyframes takeUpSpace {
  0% {
    height: 0px;
  }
  40% {
    height: 80px;
  }
  100% {
    height: 80px;
  }
}

@keyframes removeSpace {
  0% {
    height: 80px;
  }
  40% {
    height: 80px;
  }
  100% {
    height: 0px;
  }
}

@keyframes fadeDrop {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}


@keyframes dropIn {
  0% {
    top: -30px;
  }
  45% {
    top: -30px;
  }
  85% {
    top: 0px;
  }
  95% {
    top: -5px;
  }
  
  100% {
    top: 0px;
  }
}

.labIco {
    display: block;
    margin: 0 auto;
    max-width: 40px;
    opacity: .4;
}

@keyframes fadeAllOut {
  0% {
    opacity: 100;
  }
  50% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}

@keyframes noHeight {
  0% {
    height: 80px;
  }
  99% {
    height: 80px;
  }
  100% {
    height: 0px;
  }
}

.fadeInComplete {
    animation-name: fadeCompleteIn;
    animation-duration: .5s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.insightAppear {
    animation-name: fadeCompleteIn;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeCompleteIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

/*.insight {
    height: 0;
}*/






























@keyframes slideRight {
  from {left: -100px;}
  to {left: 0px;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 100;}
}

.row-ctn {
    border-radius: 4px;
    background-color: #F8F9FA;
    padding-top: 10px;
    padding-bottom: 10px;
}

.badge-select-ctn {
    position: relative;
    top: -5px;
    left: 0px;
    margin-bottom: 14px;
}

.badge-select {
    margin-right: 4px;
}

.badge-toggle {
    margin-left: 10px; 
}

#pBanner {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    z-index: 5;
    
}

.pwrTxt {
    margin: 0;
    font-size: 12px;
    font-style: italic;
    color: #04BF55;
    position: relative;
    left: 0;
    opacity: 0;
    animation-name: slideRight, fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.pwrSpan {
    position: relative;
    top: 2px;
}

.pwrNav {
    
}

.noVis {
    display: none;
    opacity: 0;
}

.dropBtn {
    cursor: pointer;
}

.opt-btn {
    margin-bottom: 12px;
}

.circle-ctn {
    position:relative;
    width: 0;
    height: 0;
}

.circle {
    background-color: #FFF;
    border: 2px #000 solid;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    top: 4px;
}

.btn-txt {
    position: relative;
    top: 0px;
    left: 25px;
    display: inline-block;
    padding-right: 25px;
    padding-top: 3px;
}

.inside-circle {
    background-color: #000;
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 4px;
}

.box {
    background-color: #FFF;
    border: 2px #000 solid;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 2px;
    position: relative;
    top: 4px;
}

.inside-box {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 0px;
    position: absolute;
    top: 8px;
    left: 4px;
}

.container {
    /*padding-bottom: 1000px;*/
}

/* LOGO STYLING */

.icon-logo {
    width: 50px;
    display: block;
    position: relative;
    left: 16px;
    opacity: .6;
}

.icon-logo:hover {
}

/* GUITAR CONTAINER */

.guitarCtn {
    max-width: 1445px;
    max-height: 600px;
    display: block;
    margin: 0 auto;
}

.guitarWpr {
    display: block;
    margin: 2% auto 4.5%;
    max-width: 100%;
    max-height: 100%;
    height: 0;
    padding-bottom: 30%;
    position: relative;
}

#insertImgs {
    height: 0;
}

/* NAV STYLES */

.nav-box {
    background-color: none;
}

.top-nav{
    border: none;
    background-color: none;
}

.nav-txt {
    color: #000;
    font-family: 'Bungee', cursive;
    font-size: 20px;
    border: none;
}

.inner-nav-txt {
    color: #000;
    font-family: 'Bungee', cursive;
    font-size: 14px;
    border: none;
}

.nav-txt:active,
.nav-text:focus {
    border: none; !important
}

.marker {
    width: 28px;
    height: auto;
    /*display: inline-block;*/
    position: relative;
    top: -3px;
}

.inner-marker {
    width: 20px;
    height: auto;
    /*display: inline-block;*/
    position: relative;
    top: -2px;
}



/* WOOD BTN CSS*/

.top-nav-wood {
}

.top-nav-wood:hover,
.top-nav-wood:focus {
    color: #FFF;
    text-decoration: none;
    background-color: #FFAC1F;
}

/* HARDWARE BTN CSS*/

.top-nav-hardware {
    
}

.top-nav-hardware:hover,
.top-nav-hardware:focus {
    color: #FFF;
    text-decoration: none;
    background-color: #794BC3;
}

/* FINISH BTN CSS*/

.top-nav-finish {
    
}

.top-nav-finish:hover,
.top-nav-finish:focus {
    color: #FFF;
    text-decoration: none;
    background-color: #F45A22;
}



/*


.underGuitarOptions {
    position: absolute;
    top: 400px;
    left: 400px;
    width: 600px;
}

.card-body {
    padding: 0px;
}







*/